.newTimer {
  width: 95vh;
  height: 75px;
  padding: 6px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 1px 1px;
}

.newTimer > input {
  outline: none;
  height: 50px;
  flex: 1.5;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  margin-left: 10px;
  margin-right: 10px;
}

.newTimer > button {
  flex: 1;
  height: 50px;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin-left: 10px;
  margin-right: 10px;
  background-color: green;
  color: #fff;
  font-weight: bold;
}
